/firmware/exositeready_pic32mz.X/build/
/firmware/exositeready_pic32mz.X/dist/
/firmware/exositeready_pic32mz.X/nbproject/private/
/firmware/exositeready_pic32mz.X/nbproject/*.mk
/firmware/exositeready_pic32mz.X/nbproject/Makefile-genesis.properties
/firmware/exositeready_pic32mz.X/nbproject/Package-pic32mz_ec_sk.bash