/firmware/er_vfp_microchip_harmony.X/build/
/firmware/er_vfp_microchip_harmony.X/dist/
/firmware/er_vfp_microchip_harmony.X/nbproject/private/
/firmware/er_vfp_microchip_harmony.X/nbproject/*.mk
/firmware/er_vfp_microchip_harmony.X/nbproject/Makefile-genesis.properties
/firmware/er_vfp_microchip_harmony.X/nbproject/Package-pic32mz_ec_sk.bash